@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #edf0f1;
  font-family: "Poppins", sans-serif;
}

html{
  scroll-behavior: smooth;
}

body{
  background-color: #24252a;
}

p{
  text-align: justify;
}

li, a, button {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 20px;
  position: fixed;
  border-bottom: 3px solid #edf0f1;
  background: #24252a;
  width: 100vw;
  z-index: 1;
}

header img {
  width: 7vw;
}

.logo {
  cursor: pointer;
  margin-right: auto;
}

.nav-links {
  list-style: none;
}

.nav-links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav-links li a {
  transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
  color: #42ff43;
}

.active{
  color: #42ff43;
}

header a button {
  margin-left: 20px;
  padding: 9px 25px;
  background-color: rgb(66,255,67,0.9);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

header a button:hover {
  background-color: rgba(66,255,67,0.5);
}

.company-banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 150px;
  background: linear-gradient(253.68deg, #42FF43 28%, rgba(0, 255, 71, 0.4) 100%);
}

.company-banner .banner-left {
  justify-content: left;
  color: white;
  column-gap: 50px;
  font-size: 50px;
  text-align: left;
}

.company-banner .banner-left p{
  white-space: nowrap;
}

.company-banner .banner-left button{
  border-radius: 10px;
  background-color: white;
  border: 1px solid rgba(0,0,0,0.2);
  color: black;
  padding: 9px 25px;
  cursor: pointer;
}

.company-banner .banner-left button:hover {
  border: 3px dotted rgba(255,255,255);
  background: none;
  transition: .3s all ease-in;
  color: white;
}

.expertise{
  padding: 150px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 30px;
}

.expertise-content{
  position: relative;
  border: 3px solid rgba(0,0,0,0);
  cursor: pointer;
}

.expertise-content img{
  width: 100%;
  height: 100%;
}

.first{
  grid-row: 1 / 3;
  grid-column: 1 / 3;
}

.expertise-content h3{
  position: absolute;
  bottom: 0;
}

.expertise-content:hover{
  border: 3px dotted rgba(255,255,255);
  transform: scale(1.1);
  transition: .3s all ease-in;
  color: white;
}

.promo{
  margin: 0 120px 50px 120px;
  border-radius: 20px;
  background-color: #edf0f1;
}

.promo:hover{
  transition: 0.3s all ease-out;
  transform: scale(1.05);
}

.promo h4, .promo p{
  color: #24252a;
  font-size: 25px;
  padding: 30px;
}

footer{
  padding: 50px 150px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 3px solid #edf0f1;
}

.sosmed-logo{
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 20px;
  align-items: center;
}

.company-info{
  display: flex;
  gap: 20px;
  align-items: end;
  text-align: end;
}

.sosmed-logo img{
  width: 3.5vw;
}

.info-img img{
  width: 10vw;
}

@media screen and (max-width: 820px) {
  .company-banner{
    display: block;
  }
  
  .company-banner .banner-left {
    font-size: 25px;
    text-align: center;
  }

  .banner-right img{
    width: 50vw;
  }

  .expertise{
    padding: 10%;
    display: flex;
    flex-direction: column;
  }

  footer{
    display: block;
  }
}