.main-products{
  padding: 150px;
}

.products-category{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main-products h2{
  font-size: 35px;
}

.products-category p{
  padding: 30px;
  border: 1px solid #edf0f1;
  border-radius: 10px;
}

.products-category p:hover{
  background-color: #edf0f1;
  color: #24252a;
  cursor: pointer;
  transition: 0.3s all ease-out;
}

.products-per-category{
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.products-per-category h2{
  font-size: 35px;
}

.sets-of-products{
  display: grid;
  grid-gap: 20px;
  justify-content: space-between;
  grid-template-columns: auto auto auto;
}

.products{
  text-align: left;
  gap: 20px;
  border: 2px solid #edf0f1;
  border-radius: 10px;
  width: 45vh;
  padding: 10px;
  cursor: pointer;
}

.products:hover{
  border: 2px dotted rgba(255,255,255);
  transition: 0.3s all ease-out;
  transform: scale(1.05) ;
}

.products img{
  border-radius: 10px;
  width: 100%;
  height: 45vh;
}

.category{
  border-left: 10px solid #edf0f1;
  height: fit-content;
  padding-left: 20px;
}

@media screen and (max-width: 820px) {
  .products-category{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
  }

  .category{
    border-left: 0;
    padding-left: 0
  }

  .sets-of-products{
    grid-template-columns: auto;
  }
}